// =====================================================================================================
//    _____                       _   _                 _ _ _
//   | ____|_ __ _ __ ___  _ __  | | | | __ _ _ __   __| | (_)_ __   __ _
//   |  _| | '__| '__/ _ \| '__| | |_| |/ _` | '_ \ / _` | | | '_ \ / _` |
//   | |___| |  | | | (_) | |    |  _  | (_| | | | | (_| | | | | | | (_| |
//   |_____|_|  |_|  \___/|_|    |_| |_|\__,_|_| |_|\__,_|_|_|_| |_|\__, |
//                                                                  |___/
// =====================================================================================================

// The testing mode controls weather the errors are handled using @error and interrupt the compilation (false) or @debug when while on testing mode (true).
$testing-mode: true;

// Error types and descriptions of their usage;
$error-types: (
  // A variable or parameter in quetion had the wrong value range or data type.
  // Expected: numbers<6, Obtained: 7
  // Expected: 6(number), Obtained: 'six'(string).
  value: 'Value',
  // Error related to error handling.
  handling: 'Handling',
);

// -----------------------------------------------------------------------------------------------------
// throw()
// -----------------------------------------------------------------------------------------------------
// Reports and handles @errors and @debugs. Constructs their content using a message and a type.
// * $message: The text message that is displayed in the @error or @debug.
// * $error-type: Has to be one of the types of errors inside the Error Handling Standard.
@function throw($message, $error-type, $testing-error: false) {
  // Verifies that $error-type is valid and part of the standard.
  $valid-type: map-has-key(
    $map: $error-types,
    $key: $error-type
  );
  @if $valid-type == false {
    @return throw('Error type does not exist.', handling);
  }
  // Handles and throws @error or @debug.
  $final-message: map-get($error-types, $error-type) + ' Error: ' + $message;
  @if $testing-mode {
    @if ($testing-error == false) {
      @debug ($final-message);
    }
  } @else {
    @error ($final-message);
  }
  @return $final-message;
}
