/* # Module: grid() - mixin */
/* ------------------------ */
/* Test: Displayes a grid given standard parameters. */
/*   ASSERT: 4 Col with 0x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 4 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 4 Col with 16x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 8 Col with 0x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 8 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 8 Col with 16x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 12 Col with 0x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 12 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 12 Col with 16x offset.   */
/*   OUTPUT   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-left: 384px;
  padding-right: 384px;
  width: 100%; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Prints an error when the amount of columns is not 4, 8 or 12. */
/*   ASSERT: 3 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 5 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 7 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 9 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 11 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: 13 Col with 1x offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: Amount of columns must be 4, 8 or 12. For more information on this, see grid standard."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Prints an error when the amount of columns is not between 0 and 16, inclusive. */
/*   ASSERT: 4 Col with 17 offset.   */
/*   OUTPUT   */
.test-output {
  content: "Value Error: The offset multiplier must be between 0 and 16, inclusive."; }

/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  content: "Value Error: The offset multiplier must be between 0 and 16, inclusive."; }

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/*  */
/* # SUMMARY ---------- */
/* 3 Tests: */
/* - 0 Passed */
/* - 0 Failed */
/* - 3 Output to CSS */
/* Stats: */
/* - 1 Module */
/* - 3 Tests */
/* - 16 Assertions */
/* -------------------- */
