@charset "UTF-8";
/* # Module: display($size, $until:null) mixin */
/* --------------------------------------------- */
/* Test: Displays media query when until is null. */
/*   ASSERT: Display on size hand.   */
/*   OUTPUT   */
@media (min-width: 320px) and (max-width: 599px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 320px) and (max-width: 599px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size page.   */
/*   OUTPUT   */
@media (min-width: 600px) and (max-width: 899px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 600px) and (max-width: 899px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size book.   */
/*   OUTPUT   */
@media (min-width: 900px) and (max-width: 1199px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 900px) and (max-width: 1199px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size desk.   */
/*   OUTPUT   */
@media (min-width: 1200px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 1200px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide.   */
/*   OUTPUT   */
@media (min-width: 1800px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 1800px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Displays media query when until is not null. */
/*   ASSERT: Display on size hand until desk.   */
/*   OUTPUT   */
@media (min-width: 320px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 320px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size hand until page.   */
/*   OUTPUT   */
@media (min-width: 320px) and (max-width: 899px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 320px) and (max-width: 899px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size page until wide.   */
/*   OUTPUT   */
@media (min-width: 600px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 600px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size page until book.   */
/*   OUTPUT   */
@media (min-width: 600px) and (max-width: 1199px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 600px) and (max-width: 1199px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size book unitl wide.   */
/*   OUTPUT   */
@media (min-width: 900px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 900px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size book unitl desk.   */
/*   OUTPUT   */
@media (min-width: 900px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 900px) and (max-width: 1799px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size desk unitl wide.   */
/*   OUTPUT   */
@media (min-width: 1200px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_OUTPUT   */
/*   EXPECTED   */
@media (min-width: 1200px) and (max-width: 3000px) {
  .test-output {
    font-size: 1em;
  }
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Marks an error when until and size are the same. */
/*   ASSERT: Display on size hand until hand.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(hand)’";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(hand)’";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size page until page.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(page)’";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(page)’";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size book until book.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(book)’";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(book)’";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size desk until desk.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(desk)’";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(desk)’";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide until wide.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(wide)’";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query has redundant information. ‘display-on(wide)’";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Marks an error when includes all devices. */
/*   ASSERT: Display on size hand until wide.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: This media query is redundant, it includes all devices.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: This media query is redundant, it includes all devices.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/* Test: Marks an error when size value is larger than until value. */
/*   ASSERT: Display on size page until hand.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(hand, $until: page)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(hand, $until: page)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide until hand.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(hand, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(hand, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size book until page.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(page, $until: book)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(page, $until: book)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide until page.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(page, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(page, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size desk until book.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(book, $until: desk)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(book, $until: desk)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide until book.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(book, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(book, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*   ASSERT: Display on size wide until desk.   */
/*   OUTPUT   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(desk, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}
/*   END_OUTPUT   */
/*   EXPECTED   */
.test-output {
  error: "Value Error: Did you mean ‘display-on(desk, $until: wide)’? This media query contains wrong syntax, the value of the ‘until’ parameter should be larger than the value of the ‘size’ parameter.";
}

/*   END_EXPECTED   */
/*   END_ASSERT   */
/*  */
/*  */
/* # SUMMARY ---------- */
/* 5 Tests: */
/* - 0 Passed */
/* - 0 Failed */
/* - 5 Output to CSS */
/* Stats: */
/* - 1 Module */
/* - 5 Tests */
/* - 25 Assertions */
/* -------------------- */
